{% comment %}
  Renders product rating stars
  Accepts:
  - product: {Object} Product object
{% endcomment %}

{% assign rating = product.metafields.reviews.rating.value | default: 0 %}
{% assign scale = product.metafields.reviews.rating.value.scale | default: 5 %}
{% assign rating_count = product.metafields.reviews.rating_count.value | default: 0 %}

<div class="flex items-center">
  <div class="flex">
    {% for i in (1..5) %}
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="{% if i <= rating %}text-warning fill-warning{% else %}text-neutral-300{% endif %}">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
      </svg>
    {% endfor %}
  </div>
  <span class="text-xs ml-1 text-dark-light">({{ rating }})</span>
</div>